/*--------------------------------------------------------------
#2.1 Theme Colors
--------------------------------------------------------------*/

.gray-color{
    color: $darkGray;
}

.green-color{
    color: #72BF44;
}
.red-color{
    color: #ED1C24;
}

.black-color{
    color: $black;
}

