/*--------------------------------------------------------------
# Theme Colors
--------------------------------------------------------------*/

.gray-color {
  color: $darkGray;
}

.green-color {
  color: #72bf44;
}
.red-color {
  color: #ed1c24;
}

.black-color {
  color: $black;
}
