.sidebar-menu {
    max-width: 216px;
    width: 100%;
    background-color: #fafafa;
    padding: 13px 0;
    height: 100vh;
    overflow-y: hidden;
    @media (max-width: 992px) {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: .3s ease-in-out;
        width: 300px;
        z-index: 9999;
        overflow: visible;

        &.show{
            transform: translateX(0);
        }
    }

    .menu-toggler {
        position: absolute;
        right: -15px;
        top: 32px;
        width: 30px;
        height: 30px;
        background-color: #FAFAFA;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: rem(22);
        transform: translateX(100%);

        @media (min-width: 993px) {
            display: none;
        }
        @media (max-width: 639px) {
            top: 27px;
        }
    }

    .site-logo {
        max-width: 122px;
        width: 100%;
        margin-bottom: 20px;
    }
    .menu-area {
        padding: 20px 13px;
        overflow-Y: auto;
        height: calc(100vh - 88px);
        ul {
            li {
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font-weight: 700;
                    font-size: rem(16);
                    color: black;
                    border-radius: 4px;
                    width: 100%;
                    background-color: transparent;
                    transition: 0.3s ease-in-out;
                    min-height: 40px;
                    display: flex;
                    align-items: center;
                    .icon {
                        margin-right: 16px;
                        transition: 0.3s ease-in-out;
                    }
                    &:hover {
                        background-color: darken(#eceef3, 10);
                    }
                }
                &.active > a {
                    background-color: #0e1217;
                    color: #fff;
                    .icon {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }

    .collapse,
    .collapsing {
        ul {
            background-color: #eceef3;
            padding: 4px 0 !important;
            border-radius: 4px;
            li {
                a {
                    padding: 8px 16px;
                }
            }
        }
    }
}
