// color
$white: #ffffff;
$black: #000000;

$dark: #333333;
$lightDark: #4f4f4f;

$gray: #828282;
$darkGray: #4c4c4c;

// Theme Colors
$primaryColor: #475364;
 $secondaryColor: #6CC0C8;
$baseTextColor: $black;
$baseFontSize: 16;
$fontPrimary: "SF Pro Display", "Segoe UI", "Source Sans Pro", Sans-Serif;